<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40075742974-o110kg966olr9454ep7rbpoc6g3d8omq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40075742974-o110kg966olr9454ep7rbpoc6g3d8omq</string>
	<key>API_KEY</key>
	<string>AIzaSyDPZbmw83pvvyQIRDK1HYBXsKS6qTGAKr0</string>
	<key>GCM_SENDER_ID</key>
	<string>40075742974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goPlanner</string>
	<key>PROJECT_ID</key>
	<string>g0-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>g0-planner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40075742974:ios:6afa7495840db6a6dc5faf</string>
</dict>
</plist>